{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "react-native-vector-icons": "react-native-vector-icons",
          }
        }
      ]
    ]
  }
  